{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}
<div class="bg-dark w-auto rounded mt-3 p-5 d-flex flex-column align-items-center m-auto">
  <h2>Parolni o'zgartirish</h2>
  <p>Yangi parol kamida 8 ta belgidan iborat bo'lishi<br> va boshqa malumotlaringizga o'shamasligi kerak!</p>
  <form action="" method="post" >
    {% csrf_token %} {{form|crispy}}
    <input
      type="submit"
      class="btn btn-success"
      placeholder="Parolni o'zgartirish"
    />
    <a class="btn btn-success" href="{% url 'home' %}">Cancle</a>
  </form>
</div>
{% endblock content %}
